name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install buildozer cython kivy

      - name: Install Android SDK & NDK
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip openjdk-11-jdk wget
          mkdir -p $HOME/android-sdk/cmdline-tools/latest
          cd $HOME/android-sdk
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
          unzip cmdline-tools.zip -d cmdline-tools/latest
          yes | $HOME/android-sdk/cmdline-tools/latest/cmdline-tools/bin/sdkmanager --sdk_root=$HOME/android-sdk "platform-tools" "platforms;android-31" "build-tools;30.0.3" "ndk;25.1.8937393"

      - name: Build APK
        env:
          ANDROIDSDK_ROOT: ${{ github.workspace }}/android-sdk
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: calphy-apk
          path: bin/*.apk
