name: Build Android APK
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libtool-bin zip unzip autoconf automake pkg-config libffi-dev libssl-dev
          python -m pip install --upgrade pip
          pip install buildozer cython==0.29.33 kivy

      - name: Build with Buildozer
        run: |
          # تأكد من وجود ملف buildozer.spec في المستودع
          # هذا الأمر سيقوم بالبناء للمعمارية التي حددناها سابقاً
          buildozer android debug
        env:
          ACCEPT_SDK_LICENSE: "yes"

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: my-calculator-app
          path: bin/*.apk
